@import "tailwindcss";

.page {
  max-width: 50%;
  margin: auto;
}

header, footer {
  @apply h-20 bg-emerald-300 p-2;
}
h1 {
  @apply text-2xl font-bold;
}
main, footer {
  @apply mt-1.5;
}
button {
  @apply text-white bg-red-500 p-1 rounded border-1;
  cursor: pointer;
}
button:hover {
  @apply text-red-500 bg-white p-1 rounded border-1;
}
.sortie {
  @apply min-h-10.5 border-1 p-1 mt-1;
}